# Supabase Configuration
VITE_SUPABASE_URL=https://eaukxgiwfzajxcpbfgfq.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVhdWt4Z2l3ZnphanhjcGJmZ2ZxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQzNTM5NzIsImV4cCI6MjA4OTkyOTk3Mn0.15CZyxuXRtDbeJNkaUfRSTe7c2-YGa7rFiJ_y27pT8o

# InsForge Configuration
VITE_INSFORGE_URL=https://25w84ct4.us-east.insforge.app
VITE_INSFORGE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3OC0xMjM0LTU2NzgtOTBhYi1jZGVmMTIzNDU2NzgiLCJlbWFpbCI6ImFub25AaW5zZm9yZ2UuY29tIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMzMjU3ODF9.kxHNSFxDYky_th4UW4Gugz97tg9xxxwGP1l3yrZnyWc
